* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.square-ball {
  background: #face9e;
  border: 6px solid #389798;
  width: 60px;
  height: 60px;
}
