* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ball {
  background: white;
  height: 30px;
  width: 30px;
  display: inline-block;
  border-radius: 50%;
  margin: 10px;
  position: relative;
}